@import 'tailwindcss';

:root {
  --font-cjk:
    'Hiragino Kaku Gothic ProN', 'Noto Sans JP', 'Microsoft YaHei', sans-serif;

  font-family: var(--font-cjk);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
